<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Autism</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
<link href="../static/img/icons8-heart-with-pulse-64.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact - v1.2.0
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="../static/img/logo.png" alt=""> -->
        <img src="../static/img/icons8-heart-with-pulse-64.png" alt=""> 
        <h1>E-health<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
           <li><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#stats-counter">Services</a></li>
          <li><a href="#faq">Q&A</a></li>
          <li><a href="blog.html">News</a></li>
          <li class="dropdown"><a href="#"><span>Awareness</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="Autism.html">for Autism</a></li>
              <li><a href="Alzehimer.html">For Alzaheimer</a></li>
              <li><a href="Eldery.html">For Eldery</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Awareness sessions for <span>Autism </span></h2>
          <p>Health is wealth  keep it healthy </p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started">Get Started</a>
            <a href="../static/img/autizm3.mp4" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="../static/img/index.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    </section>


<br>
<br>
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
<h2 style=" color: #008374;">Interacting with a Child Who Has Autism Spectrum Disorder</h2>

<video controls style="float: right;width: 41%;border-radius: 12%;">
  <source src="../static/img/autism.mp4" type="video/mp4" >
  Your browser does not support the video tag.
</video>

<div style="padding-left: 30px;">
 
    <p style=" color:  rgba(108, 117, 125, 0.8);">
        Autism spectrum disorder (ASD) is a developmental disorder. It affects how children interact and communicate with others. The disorder is called a spectrum disorder because children can be anywhere on the autism spectrum.
<br>
Children with ASD start to show symptoms at an early age. The symptoms continue during childhood and adulthood. Healthcare providers don’t know why some children develop ASD. It may be a combination of genes they are born with and something in their environment that triggers those genes.
<br>
Children with ASD have trouble relating to other people. They have trouble making eye contact. They often withdraw into themselves. They may seem uninterested in relating to family members.
<br>
But some children with ASD may love to keep talking with family members, friends, and even strangers about a topic they are obsessed with. The problem is that they may talk about it too long. Or they may talk only about that one subject. This can push other people away.

    </p>

</div>
<h2 style=" color: #008374;">    Breaking through the barriers of ASD</h2>
<img src="../static/img/Autizm.PNG" style="float: right;border-radius: 50%;width: 280px;padding-top: 75px;">
<div>
  <p style=" color:  rgba(108, 117, 125, 0.8);">
    ASD has no cure. But there is hope through treatment. Many children can learn to communicate and interact. Healthcare providers and mental health experts have learned a lot about how to break through to these children.
  </p>
</div>
<h2 style=" color: #008374;">Here are some things we know about children with an ASD:</h2>

<ul style=" color:  rgba(108, 117, 125, 0.8);padding-left: 30px;">
  <li>	They may not be able to understand your nonverbal communications. They may not react to your smile or frown.</li>
  <li> They take things literally. You need to be careful to say exactly what you mean. If you hurry the child by saying "Step on it," don't be surprised if they ask what to step on.</li>
  <li>	They may only be able to handle one thought or idea at a time. Keep conversations focused and simple.</li>
  <li>They may want to only talk about the one thing they are really interested in at a given time. And they may want to talk about it over and over again.</li>
  <li>	They may see things differently than you do. You may not even notice ordinary sounds, tastes, touches, smells, and sights. But these may be physically painful to the child.</li>
</ul>
<h2 style=" color: #008374;">Communication and interaction tips for ASD</h2>



<p style=" color:  rgba(108, 117, 125, 0.8);">There are no hard-and-fast rules on how to communicate with a child with ASD. But many family members have had success with these tips:</p>
<ul style=" color:  rgba(108, 117, 125, 0.8);padding-left: 30px;">
  <li>Be patient. It often takes a child with ASD longer to process information. You may need to slow down your conversation to their speed. Long pauses can be helpful.</li>
  <li>Teach the child how to express anger without being too aggressive.  Children with ASD should know that they don't have to hold their anger and frustration inside.</li>
  <li>Be persistent but resilient.  Don't let your feelings get hurt if the child does not respond to you as you'd like. Children with ASD may have trouble both showing and controlling their emotions. They can be blunt in their responses. Don't take this personally</li>
  <video controls style="float: right;width: 49%;border-radius: 12%;">
    <source src="../static/img/autizm2.mp4" type="video/mp4" >
    Your browser does not support the video tag.
  </video>
  <li>
    	Always stay positive.  Children with ASD respond best to positive reinforcement. Be sure to talk about or reward good behavior often. Be generous with compliments for good behavior.
  </li>
  <li>	Ignore irritating attention-getting behavior.  A child with ASD may act badly at times to get you to focus on them. Ignoring this behavior is often the best way to prevent it. Also talk about and reward the child's good behavior often.</li>
  <li>	Interact through physical activity.  Children with ASD tend to have short attention spans. This is especially true when it comes to communicating. Running around and playing outside may be a better way of sharing time together. It will also let them relax and feel calmer.</li>
  <li>	Be affectionate and respectful.  Children with ASD often need a hug, just like other children. Sometimes they need this much more than other children. But some children don't like to be touched at all, even light contact can distress them. Respect their personal space. Never force physical affection on an unwilling child.</li>
  <li>Show your love and interest.  Children with ASD may have trouble showing their feelings. But they still need to know that you love them. Go out of your way to express your interest, caring, and support.</li>
  <li>	Learn from your child. Your child's special need and abilities may show you a way to look at the world that you've never considered. As difficult as it may be on some days, relaxing, laughing, and enjoying the unique gift that is your child can provide both you and your family with many rewards.</li>
  <Li>Believe. A child with autism is first and foremost a child. They are a growing person with unknown possibilities. Believe in what the child can do. Don’t define the child by a diagnosis.  </Li>
  <li>	Take care of yourself. It’s OK to take a break. Join parent support groups. Or ask understanding family and friends to care for your child so you can recharge. School psychologists and counselors can also provide resource

  </li>
</ul>
<img src="../static/img/Autizm2.PNG" style="float: right;border-radius: 31%;width: 300px;">
<h4 style=" color:  rgba(108, 117, 125, 0.8);padding-top: 35px;">It can be challenging to interact with a child or grandchild with ASD. But it's one of the most important things you can do to help that child learn. Research shows that early, frequent, and loving involvement of family members is one of the best ways to help children with ASD.</h4>
<ul style=" color:  rgba(108, 117, 125, 0.8);padding-left: 30px;">
  <li>	L Renee Watson MSN RN</li>
 <li>Marianne Fraser MSN RN</li>
 <li>Paul Ballas MD</li>
</ul>
  </div>
</section>














































    
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>E-health</span>
          </a>
                  <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="index.html">Home</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>E-health</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
        Designed by <a href="https://www.aun.edu.eg/fci/home"> FCI Assiut</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>
