<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Elderly</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
<link href="../static/img/icons8-heart-with-pulse-64.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact - v1.2.0
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="../static/img/logo.png" alt=""> -->
        <img src="../static/img/icons8-heart-with-pulse-64.png" alt=""> 
        <h1>E-health<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
           <li><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#stats-counter">Services</a></li>
          <li><a href="#faq">Q&A</a></li>
          <li><a href="blog.html">News</a></li>
          <li class="dropdown"><a href="#"><span>Awareness</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="Autism.html">for Autism</a></li>
              <li><a href="Alzehimer.html">For Alzaheimer</a></li>
              <li><a href="Eldery.html">For Eldery</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Awarness sessions for how to caring about <span>Elderly people</span></h2>
          <p>Health is wealth  keep it healthy </p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="index.html" class="btn-get-started">Get Started</a>
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
<img src="../static/img/index.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    </section>


<br>
<br>
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
<h2 style=" color: #008374;">Elderly people</h2>
<div style="padding-left: 30px;">
    <p style=" color:  rgba(84, 88, 91, 0.932);">
      Elderly people, also referred to as seniors, are individuals who are 65 years of age or older. As people age, they may face various challenges such as declining health, social isolation, financial difficulties, and mobility limitations. It is important to care for elderly individuals to ensure their well-being and quality of life
    </p>
</div>
<h2 style=" color: #008374;">Here are some ways to care for elderly people:</h2>
<img src="../static/img/Eldery.PNG"  class="img-fluid"style="float: right;"">
<ul style=" color:  rgba(108, 117, 125, 0.8);padding-left: 30px;">
  <li>	Regular check-ups: Elderly individuals should have regular medical check-ups to monitor their health and address any medical issues. It is essential to keep track of their medications, and make sure they are taking them as prescribed.
  </li>
  <li> Social interaction: Loneliness and social isolation are common problems among the elderly, which can lead to depression and other mental health problems. Regular visits and social activities can help improve their quality of life.
  </li>
  <li>	Home safety: It is important to ensure that their homes are safe and free of hazards. This includes making sure the home is properly ventilated, ensuring adequate lighting, and installing safety features like grab bars and handrails.
  </li>
  <li>Nutrition: Elderly individuals may have difficulty preparing nutritious meals, which can lead to malnutrition. Caregivers can help by ensuring that their diet is balanced, and that they are getting enough vitamins and minerals.
  </li>
  <li>Exercise: Exercise is essential for maintaining physical health and mental well-being. Caregivers can encourage the elderly to engage in regular physical activity, even if it is just a short walk.
  </li>
  <li>
    Transportation: Elderly individuals may have difficulty getting around, so it is important to provide them with transportation to medical appointments and social activities.
  </li>
  <li>
    Financial assistance: Some elderly individuals may struggle with financial difficulties. Caregivers can help by providing financial assistance or connecting them with resources that can help them manage their finances.
  </li>
</ul>
<p style=" color:  rgba(78, 92, 105, 0.8);">Overall, caring for the elderly requires patience, empathy, and understanding. By taking the time to understand their needs and providing them with the support they need, caregivers can help elderly individuals maintain their independence and enjoy a high quality of life.</p>
  </div>
</section>














































    
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>E-health</span>
          </a>
                  <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="index.html">Home</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>E-health</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
        Designed by <a href="https://www.aun.edu.eg/fci/home"> FCI Assiut</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>
